# Ambiente
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/

# uv
# (uv.lock DEVE ser versionado, não ignorar)

# Editor
.vscode/
.idea/

# Docker
postgres_data/